/* .landing {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url("../../assests/Background.png"), lightgray 50% / cover no-repeat;
  height: 600px;
  width: 100%;
} */
.poster {
  position: relative;
  min-height: 600px;
  width: 100%;
  object-fit: cover;
}
.posterImg img {
  margin: auto;
  display: block;
  width: 100%;
  height: 600px;
  object-fit: cover;
  object-position: center center;
}

.poster_overlay {
  position: absolute;
  padding: 5rem;
  bottom: 50px;
  height: 70%;
  display: flex;
  flex-direction: column;
  color: #d1d5db;
  width: 50%;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgb(0, 0, 0, 0), rgb(0, 0, 0, 1));
  opacity: 1;
  transition: opacity 0.3s;
}
.poster_overlay:hover {
  opacity: 1;
}

.description {
  color: #fff;
  font-family: DM Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  /* line-height: 56px; */
  /* 116.667% */
}

.heading {
  width: 100%;
  position: absolute;
  top: 20px;
}

.title {
  color: #fff;
  font-family: DM Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px; /* 116.667% */
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
  position: relative;
}
.img {
  width: 50px;
  height: 50px;
  background: url("../../assests/tv.png"), transparent 50% / cover no-repeat;
}
.box {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  color: #fff;
}
.movie {
  color: #fff;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}
.search {
  position: absolute;
  width: 100%;
  display: flex;
  top: 5rem;
}

.search-input {
  padding: 18px 10px;
  width: 100%;
  background-color: transparent;
  border-radius: 6px;
  outline: none;
  color: #fff;
  height: 24px;
  border: 2px solid var(--gray-300, #d1d5db);
}

.search-input::placeholder {
  color: var(--white, #fff);
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.sign {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  /* margin-left: 210px; */
}
.sign p {
  color: #fff;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
}
.fill {
  background-color: #be123c;
  border-radius: 100%;
  width: 36px;
  height: 36px;
  object-fit: contain;
  display: grid;
  place-items: center;
}
@media screen and (min-width: 1024px) {
  .search {
    position: initial;
    max-width: 525px;
  }
  .nav {
    padding: 20px 0;
  }
  .box {
    gap: 20px;
  }
  .movie {
    font-size: 24px;
  }
}
